[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
CoreDataModules = {editable = true,git = "https://www.github.com/AfricasVoices/CoreDataModules",ref = "79de64f44029d049e43509e6bb5067c1800e2874"}
RapidProTools = {editable = true,git = "https://www.github.com/AfricasVoices/RapidProTools",ref = "374ecc02bb9d4f1416a6993ae4250dc0b2d732c2"}
PipelineInfrastructure = {editable = true,ref = "08cfb07be4c80656924bceaeeaef15a21ddb7a72",git = "https://www.github.com/AfricasVoices/PipelineInfrastructure"}
pytz = "*"
python-dateutil = ">=2.8.0"  # Need this minimum so that isoparse handles T24:00:00 correctly.
google-cloud-storage = "*"

[dev-packages]

[requires]
python_version = "3.6"
